@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;1,300&family=Playfair+Display:wght@400;500;600&family=Raleway:wght@300;400&display=swap');

.font-jost-200 {
    font-family: jost;
    font-weight: 200;
}

.font-jost-300 {
    font-family: jost;
    font-weight: 300;
}

.font-jost-italic {
    font-family: jost;
    font-weight: 200;
}

.font-jost-400 {
    font-family: jost;
    font-weight: 400;
}

.font-raleway-light {
    font-family: raleway;
    font-size: 300;
}

.font-raleway {
    font-family: raleway;
    font-weight: 400;
}

.max-w-9xl {
    max-width: 100rem;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


.border-b-1 {
    border-bottom-width: 1px;
}
