@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fast-spin {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .loading-in div {
    width: 40px;
    height: 40px;
    border: 1px solid #4d62a0;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .loading-in div {
    animation: fast-spin 0.8s linear infinite;
  }
  .loading {
    width: 40px;
    height: 40px;
  }

  .loading-in2 div {
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .loading-in2 div {
    animation: fast-spin 0.3s linear infinite;
  }
  .loading2 {
    width: 20px;
    height: 20px;
  }
